@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<BookDiary.Models.News>


<div >
    <p class="display-4">Книжен Дневник</p>
    <div class="d-flex justify-content-end">
        <div class="news-container p-3" style="max-width: 350px; border: 1px solid #ccc; border-radius: 8px; background-color: #f8f9fa; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <h5 class="text-dark mb-4">Latest News</h5>
            <ul class="list-unstyled">
                @foreach (var news in Model)
                {
                    <li class="mb-3">
                        <div class="card border-0" style="background-color: #ffffff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border-radius: 8px;">
                            <div class="card-body">
                                <h6 class="card-title text-primary fw-bold">@news.Title</h6>
                                <p class="card-text text-muted" style="font-size: 0.9rem;">@news.Content</p>
                                
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>
