@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BookDiary.Models.ViewModels.TagViewModels.TagCreateViewModel;

<form method="post">
    <label asp-for="Name">
        <input type="text" asp-for="Name" />
    </label>
    <button type="submit" asp-action="Add" asp-controller="Tag">Add</button>
</form>