@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BookDiary.Models.ViewModels.SeriesViewModels.SeriesEditViewModel;
<form method="post">
    <label asp-for="Title">
        Title
        <input type="text" asp-for="Title" />
    </label>
    <span asp-validation-for="Title"></span>
    <br />
    <label asp-for="Description">
        
        <input type="text" asp-for="Description" />
    </label>
    <span asp-validation-for="Description"></span>
    <br />
    <button type="submit" class="btn btn-primary" asp-action="Edit" asp-controller="Series" class="btn btn-success" >Submit changes</button>
</form>