@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<BookDiary.Models.ViewModels.SeriesViewModels.SeriesCreateViewModel>
<h1>See all series</h1>

<div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px;">
    @foreach (var series in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@series.Title</h5>
                <p class="card-text">@series.Description</p>
                
                <a type="button" class="btn btn-success" asp-action="Edit" asp-controller="Series" asp-route-id="@series.Id">Edit</a>
                <form method="post" asp-controller="Series" asp-action="Delete">
                    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Series" asp-route-id="@series.Id">Delete</button>
                </form>
            </div>
        </div>
    }
</div>
