@using BookDiary.Models.Enums
@model BookDiary.Models.Author;

<form method="post" enctype="multipart/form-data" class="p-4 border rounded shadow-sm bg-light">
    <h2 class="mb-4">Add Author</h2>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="BirthDate" class="form-label">Birth Date</label>
        <input type="date" asp-for="BirthDate" class="form-control" required />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ProfilePictureURL" class="form-label">Profile Picture URL</label>
        <input type="text" asp-for="ProfilePictureURL" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Gender" class="form-label">Gender</label>
        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<GenderEnum>()" class="form-select"></select>
    </div>

    <div class="mb-3">
        <label asp-for="Bio" class="form-label">Biography</label>
        <textarea asp-for="Bio" class="form-control" rows="4"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="WebSiteLink" class="form-label">Website</label>
        <input type="url" asp-for="WebSiteLink" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary w-100">Add Author</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
