@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BookDiary.Models.ViewModels.NewsViewModels.NewsEditViewModel;
<form method="post">
    <label asp-for="Title">
        Title
        <input type="text" asp-for="Title" />
    </label>
    <span asp-validation-for="Title"></span>
    <br />
    <label asp-for="Content">
        
        <input type="text" asp-for="Content" />
    </label>
    <span asp-validation-for="Content"></span>
    <br />
    <button type="submit" class="btn btn-primary" asp-action="Edit" asp-controller="News" class="btn btn-success" >Submit changes</button>
</form>